@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background: linear-gradient( rgb(226, 220, 220));
  color: #121010;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0;
  font-size: 2rem;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-btn {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #f6efef;
  color: #121212;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.tab-btn:hover,
.tab-btn.active {
  background-color: #171717;
  color: #fff;
  transform: scale(1.05);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 20px;
}

.card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 250px;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
}

/* .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */

.card .dynamic-card {
  padding: 15px;
}

.card .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .vendor {
  font-size: 0.9rem;
  color: #888;
  text-decoration: line-through;
  margin-bottom: 5px;
}

.card .category {
  background-color: #fff;
  color: #0f0f10;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  font-size: 0.75rem;
}

.card .price {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card .percentage-difference {
  font-size: 0.9rem;
  font-weight: 700;
  color: red;
  margin-bottom: 10px;
}

.card .btn-button {
  padding: 10px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.card .btn-button:hover {
  background-color: #333;
}

.pradeep {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pradeep1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  white-space: nowrap;
}

.pradeep3{
    width: 60%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.card .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-size{
    width: 100%;
    height: 50vh;
}
